/* Shared */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

/* Nab Styles */
nav {
    display: flex;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}